{% extends "layout.html" %}

{% block title %}Impressum{% endblock %}

{% block content %}
    <div class="impressum-container">
        <div class="date">
            Stand: 1.11.2024
        </div>
        <h1 class="left">Impressum</h1>
        <p class="contact-info">
            Timo Streich<br>
            Johannesstraße 16/1<br>
            73730 Esslingen
        </p>

        <h1 class="left">Datenschutzerklärung</h1>
        <p>
            Wir freuen uns über Ihr Interesse an unserem Projekt und nehmen den Schutz Ihrer Daten sehr ernst. Diese Datenschutzerklärung informiert Sie darüber, wie wir Ihre nicht personenbezogenen Daten verwenden und welche Rechte Sie in Bezug auf diese Daten haben.
        </p>
        <h2 class="left">1. Allgemeine Informationen</h2>
        <p>
            Diese Datenschutzerklärung gilt für die Verwendung von nicht personenbezogenen Daten, die im Rahmen der Nutzung unserer Anwendung erhoben werden. Personenbezogene Daten, wie Name oder E-Mail-Adresse, werden von uns nicht erhoben oder verarbeitet.
        </p>
        <h2 class="left">2. Verwendung nicht personenbezogener Daten</h2>
        <p>
            Wir sammeln und verwenden nicht personenbezogene Daten ausschließlich für die folgenden Zwecke:
        </p>
        <ul>
            <li>
                <strong>Training der Künstlichen Intelligenz (KI):</strong> Die gesammelten Daten werden verwendet, um unsere KI-Modelle zu trainieren und zu verbessern. Dies geschieht, um die Leistung und Genauigkeit der KI in unseren Anwendungen zu erhöhen.
            </li>
            <li>
                <strong>Datenaufbewahrung:</strong> Die nicht personenbezogenen Daten werden nur für den Trainingsprozess gespeichert.
            </li>
        </ul>
        <h2 class="left">3. Zustimmung zur Verwendung nicht personenbezogener Daten</h2>
        <p>
            Durch die Nutzung unserer Anwendung stimmen Sie der Erhebung und Verwendung nicht personenbezogener Daten zum Training der KI und gemäß dieser Datenschutzerklärung zu. Wenn Sie mit dieser Erhebung und Verwendung nicht einverstanden sind, bitten wir Sie, die Nutzung unserer Anwendung zu unterlassen.
        </p>
        <h2 class="left">4. Änderungen dieser Datenschutzerklärung</h2>
        <p>
            Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit zu ändern. Änderungen werden auf dieser Seite veröffentlicht. Bitte überprüfen Sie regelmäßig diese Datenschutzerklärung, um über unsere Praktiken informiert zu bleiben.
        </p>
        <h2 class="left">5. Ihre Rechte</h2>
        <p>
            Da wir keine personenbezogenen Daten erheben, stehen Ihnen keine spezifischen Datenschutzrechte bezüglich dieser Daten zu. Für allgemeine Anfragen oder Bedenken können Sie uns jedoch jederzeit kontaktieren.
        </p>
    </div>
{% endblock %}
